<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Times</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</head>
<body>
  <br>
  <div class="d-grid gap-2 col-2 mx-auto">
    <a id="criar-nova-partida" href="/criarTime" class="btn btn-primary active" role="button">Criar novo time</a>
  </div>
  <br>
  <div>
    <table class="table">
      <thead class="table-dark">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col" colspan="3">Jogadores</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Luziânia Destruck</td>
        <td>Vitória</td>
        <td>Gabriela</td>
        <td>Letícia</td>
      </tr>
      </tbody>
    </table>
  </div>

</body>
</html>